
.bg{
    padding-left: 475px;
    padding-top: 30px;
    background-color: white;

}


.thankyou{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 500px;
    padding-top: 30px;
}
.sub-heading{
    padding-left: 440px;
}
